li.dropdown
    a.dropdown-toggle(href='#', data-toggle='dropdown')
        if picture
            img(src="#{picture}" style="width: 18px; height: 18px;")
        else
            span.glyphicon.glyphicon-user
        strong #{status}
        span.glyphicon.glyphicon-chevron-down
    ul.dropdown-menu
        if loggedOn
            li
                .navbar-login
                    .row(style='margin-left:0; margin-right: 0;')
                        .col-lg-4
                            p.text-center
                                span.glyphicon.glyphicon-user.icon-size
                        .col-lg-8
                            p.text-left
                                strong #{status}
                            p.text-left.small Placeholder
                            p.text-left
                                a.btn.btn-primary.btn-block.btn-sm(href='#') My Account
            li.divider
            li
                .navbar-login.navbar-login-session
                    .row(style='margin-left:0; margin-right: 0;')
                        .col-lg-12
                            p
                                a#signout.btn.btn-danger.btn-block Sign Out
        else
            li
                +loginButtons