img.ri#mainSplash(src= "/splash.png")
#page-wrapper(style="position: absolute; width: 100%; height: 100%; display: flex; flex-flow: column")
    nav.navbar.navbar-default.navbar-static-top(role='navigation')
        .navbar-header
            a.navbar-brand(href='#') Omegablitz
            // <a class="navbar-brand pull-right login" href="#">Login</a>
            .collapse.navbar-collapse
                ul.nav.navbar-nav.navbar-right
                    +accountDropdown

    #layout(style="position: relative; flex: 1;")